[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysql]
prompt = '\\u@\\h [\\d] > '
default_character_set = utf8mb4
safe_updates
show_warnings
connect_timeout = 5

[mysqld]
# https://dev.mysql.com/doc/refman/8.0/en/server-options.html
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html
user = mysql
port = 3306
socket = /var/lib/mysql/mysql.sock
datadir = /data/mysql

character_set_server = utf8mb4
collation_server = utf8mb4_bin
skip_character_set_client_handshake
lower_case_table_names = 1
skip_host_cache
skip_name_resolve
transaction_isolation = READ-COMMITTED

#core_file
#read_only

sql_mode = ONLY_FULL_GROUP_BY STRICT_TRANS_TABLES NO_ZERO_IN_DATE NO_ZERO_DATE ERROR_FOR_DIVISION_BY_ZERO NO_ENGINE_SUBSTITUTION

## network
max_connections = 500
wait_timeout = 300
thread_cache_size = 100

## log
log_error = mysql-error.log
#general_log
#general_log_file = mysql-query.log
slow_query_log
slow_query_log_file = mysql-slow.log
long_query_time = 3
#log_slow_admin_statements
#log_queries_not_using_indexes
#loose_log_throttle_queries_not_using_indexes = 10


## InnoDB
# https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html
innodb_buffer_pool_size = 12G
innodb_data_file_path = ibdata1:12M:autoextend
innodb_doublewrite = OFF
innodb_checksum_algorithm = strict_crc32
innodb_io_capacity = 1000
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_lock_wait_timeout = 5
#innodb_flush_method = O_DIRECT
innodb_print_all_deadlocks

## InnoDB for HDD
#innodb_flush_neighbors = 1
#innodb_random_read_ahead


## Performance Schema
# https://dev.mysql.com/doc/refman/8.0/en/performance-schema-system-variables.html
performance_schema


## Replication
# https://dev.mysql.com/doc/refman/8.0/en/replication-options-slave.html
# https://dev.mysql.com/doc/refman/8.0/en/replication-options-gtids.html
# https://dev.mysql.com/doc/refman/8.0/en/replication-options-binary-log.html

#server_id = 1
#disable_log_bin
log_bin = mysql-bin
relay_log = mysql-relay-bin
relay_log_recovery
binlog_row_image = minimal
log_slow_slave_statements
gtid_mode = ON
